@charset 'UTF-8';

body {
    background-color: rgb(102, 188, 209);
    font: normal 20px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
}
footer {
    color: white;
    text-align: center;
} 

div#msg {
    padding-bottom: 10px;
}

div#foto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 400px;
    background-position: center bottom;
    background-repeat: no-repeat;
    border-radius: 50%;
}

div#foto > img {
    border-radius: 50%;
    height: 85%;
}