@charset 'UTF-8';

body {
    background-color: rgb(102, 188, 209);
    font: normal 20px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
}

div#inputdiv > div.row {
    display: flex;
    justify-content: center;
    gap: 7px;
}

div#outputfinalizar, div#outputalimentar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 0px;
}

div#outputalimentar {
    max-height: 300px;
    overflow-y: auto;
}

#divBtnFin {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 0;
}

div#outputfinalizar > p, div#outputalimentar > p {
    margin: 0;
    padding: 5px;
    width: 80%;
    text-align: center;
}

div#outputalimentar > p {
    border: 1px solid black;
    box-sizing: border-box;
}

div > input#btnfinalizar {
    height: 30px;
    width: 300px;
}

footer {
    color: white;
    text-align: center;
}